<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
<header th:replace="fragments :: header"></header>

<h4>Statistics</h4>
<div class="col-6">
    <form action="#" th:action="@{/statistics/method}" method="get">
        <div class="form-group">

            <label>Select a customer:</label>
            <select class="form-control" name="customer" id="customer" th:object="${customer}">
                <option value="">Select Customer</option>
                <option th:each="customerObj : ${customers}" th:value="${customerObj.getId()}"
                        th:text="${customerObj.firstName} + ' ' + ${customerObj.lastName} + ' with id:' + ${customerObj.getId()}">
            </select>

            <label>Select a statistics:</label>
            <select class="form-control" name="method" id="method" th:object="${method}">
                <option value="">Select Customer</option>
                <option th:each="method : ${methods}" th:value="${method}"
                        th:text="${method}">
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Select Customer</button>
    </form>
</div>
</body>

<footer th:replace="fragments :: footer"></footer>
</html>
