<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<h4>Register the Product</h4>
<div class="col-6">
  <form action="#" th:action="@{/product/create}" th:object="${product}" method="post">
    <div class="form-group">

      <label for="name">Product Name</label>
      <input class="form-control" type="text" th:field="*{name}" placeholder="Product Name" id="name">

      <label for="registrationDate">Registration Date:</label>
      <input class="form-control" type="date" th:field="*{registeredDate}" id="registrationDate"/>

      <label for="receivedDate">Received Date:</label>
      <input class="form-control" type="date" th:field="*{receivedDate}" id="receivedDate"/>

      <label for="weight">Weight (kg):</label>
      <input class="form-control" type="number" step="0.01" th:field="*{weight}" id="weight">

      <label for="type">Type:</label>
      <select class="form-control" name="types" id="type">
        <option th:each="productType : ${productTypes}" th:value="${productType}" th:field="${product.productType}" th:text="${productType.typeName}"></option>
      </select>

      <label for="status">Status:</label>
      <select class="form-control" name="statuses" id="status">
        <option th:each="status : ${statuses}" th:value="${status}" th:field="${product.productStatus}" th:text="${status.status}"></option>
      </select>

      <label for="sender">Sender:</label>
      <select class="form-control" name="sender" id="sender">
        <option th:each="customer : ${customers}" th:value="${customer}" th:field="${product.sender}"
                th:text="${customer.toString()}"></option>
      </select>

      <label for="receiver">Receiver:</label>
      <select class="form-control" name="receiver" id="receiver">
        <option th:each="customer : ${customers}" th:value="${customer}" th:field="${product.receiver}"
                th:text="${customer.toString()}"></option>
      </select>

      <label for="senderAddress">Sender Address:</label>
      <select class="form-control" name="senderAddress" id="senderAddress">
        <option th:each="address : ${addresses}" th:value="${address}" th:field="${product.senderAddress}"
                th:text="${address.toString()}"></option>
      </select>

      <label for="receiverAddress">Receiver Address:</label>
      <select class="form-control" name="receiverAddress" id="receiverAddress">
        <option th:each="address : ${addresses}" th:value="${address}" th:field="${product.receiverAddress}"
                th:text="${address.toString()}"></option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Save Product</button>
  </form>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>