<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<style>
    .hide {
      display: none;
    }
    .divForeignKeys:hover + .hide {
      display: block;
      color: red;
    }
    .foreignKey{
      border: 1px;
      border-radius: 5px;
      background-color: #f2f2f2;
      padding-left: 5px;
    }
</style>
<body>
<header th:replace="fragments :: header"></header>

<h4>Products list:</h4>
<td><a class="btn btn-info"
       th:href="@{/product/create-product}">Add</a></td>

    <h3 th:unless="${products} and ${products.size()}">There are no Products!</h3>
    <table th:if="${products.size()>0}" class="table table-hover">
        <th>Id</th>
        <th>Name</th>
        <th>Registered Date</th>
        <th>Received Date</th>
        <th>Weight (kg)</th>
        <th>Type</th>
        <th>Status</th>
        <th>Sender</th>
        <th>Receiver</th>
        <th>Sender Address</th>
        <th>Receiver Address</th>
        <th>Delivery Time</th>

        <th>Edit</th>
        <th>Delete</th>

        <tr th:each="product : ${products}" th:id="'productRow_'+${product.id}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.registeredDate}"></td>
            <td th:text="${product.receivedDate == null} ? 'NOT RECEIVED' : ${product.receivedDate}"></td>
            <td th:text="${product.weight}"></td>
            <td>
                <div class="divForeignKeys foreignKey" th:text="${product.productType.typeName}"></div>
                <div class="hide">
                    <table class="table table-hover">
                        <tr>
                            <th>Id</th>
                            <th>Type Name</th>
                            <th>Price</th>
                        </tr>
                        <tr>
                        <td th:text="${product.productType.id}"></td>
                        <td th:text="${product.productType.typeName}"></td>
                        <td th:text="${product.productType.price}"></td>
                        </tr>
                    </table>
                </div>
            </td>

            <td>
                <div class="divForeignKeys foreignKey" th:text="${product.productStatus.status}"></div>
                <div class="hide">
                    <table class="table table-hover">
                        <tr>
                            <th>Id</th>
                            <th>Status</th>
                        </tr>
                        <tr>
                            <td th:text="${product.productStatus.id}"></td>
                            <td th:text="${product.productStatus.status}"></td>
                        </tr>
                    </table>
                </div>
            </td>

            <td>
                <div class="divForeignKeys foreignKey" th:text="${product.sender.getAbbreviatedFullName()}"></div>
                <div class="hide">
                    <table class="table table-hover">
                        <tr>
                            <th>Id</th>
                            <th>Full Name</th>
                            <th>Tel</th>
                            <th>Address ID</th>
                            <th>Address</th>
                        </tr>
                        <tr>
                            <td th:text="${product.sender.id}"></td>
                            <td th:text="${product.sender.getFullName()}"></td>
                            <td th:text="${product.sender.tel}"></td>
                            <td th:text="${product.sender.address.id}"></td>
                            <td th:text="${product.sender.address.addressToString()}"></td>
                        </tr>
                    </table>
                </div>
            </td>

            <td>
                <div class="divForeignKeys foreignKey" th:text="${product.receiver.getAbbreviatedFullName()}"></div>
                <div class="hide">
                    <table class="table table-hover">
                        <tr>
                            <th>Id</th>
                            <th>Full Name</th>
                            <th>Tel</th>
                            <th>Address ID</th>
                            <th>Address</th>
                        </tr>
                        <tr>
                            <td th:text="${product.receiver.id}"></td>
                            <td th:text="${product.receiver.getFullName()}"></td>
                            <td th:text="${product.receiver.tel}"></td>
                            <td th:text="${product.receiver.address.id}"></td>
                            <td th:text="${product.receiver.address.addressToString()}"></td>
                        </tr>
                    </table>
                </div>
            </td>

            <td>
                <div class="divForeignKeys foreignKey" th:text="${product.senderAddress.addressToString()}"></div>
                <div class="hide">
                    <table class="table table-hover">
                        <tr>
                            <th>Id</th>
                            <th>City</th>
                            <th>Street</th>
                            <th>Number</th>
                            <th>Code</th>
                        </tr>
                        <tr>
                            <td th:text="${product.senderAddress.id}"></td>
                            <td th:text="${product.senderAddress.city}"></td>
                            <td th:text="${product.senderAddress.street}"></td>
                            <td th:text="${product.senderAddress.number}"></td>
                            <td th:text="${product.senderAddress.code}"></td>
                        </tr>
                    </table>
                </div>
            </td>

            <td>
                <div class="divForeignKeys foreignKey" th:text="${product.receiverAddress.addressToString()}"></div>
                <div class="hide">
                    <table class="table table-hover">
                        <tr>
                            <th>Id</th>
                            <th>City</th>
                            <th>Street</th>
                            <th>Number</th>
                            <th>Code</th>
                        </tr>
                        <tr>
                            <td th:text="${product.receiverAddress.id}"></td>
                            <td th:text="${product.receiverAddress.city}"></td>
                            <td th:text="${product.receiverAddress.street}"></td>
                            <td th:text="${product.receiverAddress.number}"></td>
                            <td th:text="${product.receiverAddress.code}"></td>
                        </tr>
                    </table>
                </div>
            </td>

            <td>
                <div class="divForeignKeys foreignKey" th:text="${product.deliveryTime.name}"></div>
                <div class="hide">
                    <table class="table table-hover">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                        </tr>
                        <tr>
                            <td th:text="${product.deliveryTime.id}"></td>
                            <td th:text="${product.deliveryTime.name}"></td>
                        </tr>
                    </table>
                </div>
            </td>

            <td><a class="btn btn-info"
                   th:href="@{'/product/edit/'+${product.id}}">Edit</a></td>
            <td><a class="btn btn-danger" th:href="@{'/product/delete/'+${product.id}}">Delete</a>
            </td>
        </tr>
    </table>
</body>

<footer th:replace="fragments :: footer"></footer>
</html>