<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml%22%3E">
<head th:replace="fragments :: head"></head>

<body>
<header th:replace="fragments :: header"></header>

<h4>Offices list:</h4>
<div class="col-6">
    <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-success" th:href="@{'/office/create-office/'}">Add</a>
    <h3 th:unless="${offices} and ${offices.size()}">There are no services!</h3>
    <table th:if="${offices.size()>0}" class="table table-hover">
        <th sec:authorize="hasAnyAuthority('ADMIN', 'OFFICE_EMPLOYEE', 'DRIVER')">Id</th>
        <th>Address</th>
        <th sec:authorize="hasAuthority('ADMIN')">Edit</th>
        <th sec:authorize="hasAuthority('ADMIN')">Delete</th>
        <tr th:each="office : ${offices}">
            <td sec:authorize="hasAnyAuthority('ADMIN', 'OFFICE_EMPLOYEE', 'DRIVER')" th:text="${office.id}"></td>
            <td th:text="${office.address.city} + ' ' + ${office.address.street} + ' ' + ${office.address.number}"></td>
            <td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-info"
                   th:href="@{'/office/edit/'+${office.id}}">Edit</a></td>
            <td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-danger" th:href="@{'/office/delete/'+${office.id}}">Delete</a>
            </td>
        </tr>
    </table>

</div>
</body>

<footer th:replace="fragments :: footer"></footer>
</html>