<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
<header th:replace="fragments :: header"></header>

<h4>Status list:</h4>
<td><a class="btn btn-success"
       th:href="@{'/customer/create-status'}">Add</a></td>
<div class="col-8">
    <h3 th:unless="${customers} and ${customers.size()}">There are no customers!</h3>
    <table th:if="${customers.size()>0}" class="table table-hover">
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Telephone number</th>
        <tr th:each="customer : ${customers}">
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td th:text="${customer.tel}"></td>
            <td><a class="btn btn-info"
                   th:href="@{'/customer/edit/'+${customer.id}}">Edit</a></td>
            <td><a class="btn btn-danger" th:href="@{'/customer/delete/'+${customer.id}}">Delete</a>
            </td>
        </tr>
    </table>
</div>
</body>

<footer th:replace="fragments :: footer"></footer>
</html>