<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
<header th:replace="fragments :: header"></header>

<h4>Type of service edit:</h4>
<div class="col-6">
  <form action="#" th:action="@{/customer/update/{id}(id=${customer.id})}" th:object="${customer}" method="post">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input class="form-control" type="text" th:field="${customer.firstName}" placeholder="First Name" id="firstName">
      <label for="lastName">Last Name:</label>
      <input class="form-control" type="text" th:field="${customer.lastName}" placeholder="Last Name" id="lastName">
      <label for="tel">Telephone:</label>
      <input class="form-control" type="text" th:field="${customer.tel}" placeholder="Telephone" id="tel">
      <label for="tel">Address:</label>
      <select class="form-control" th:field="${customer.address}" id="address">
        <option value="">Select Address</option>
        <option th:each="address : ${addresses}" th:value="${address.id}"
                th:text="${address.toString()}">

        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Update Customer</button>
  </form>
</div>
</body>

<footer th:replace="fragments :: footer"></footer>
</html>