<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>


<h4>Register the Product Delivery Time</h4>
<div class="col-6">
    <form action="#" th:action="@{/deliveryTime/create}" th:object="${productDeliveryTime}" method="post">
        <div class="form-group">

            <label for="name">Delivery Time</label>
            <input class="form-control" type="text" th:field="*{name}" placeholder="Product Delivery Time Name" id="name">

            <label for="deliveryDays">Delivery Days:</label>
            <input class="form-control" type="number"step="1" min="0" max="365" th:field="*{deliveryDays}" placeholder="deliveryDays" id="deliveryDays">

            <label for="deliveryHours">Delivery Hours:</label>
            <input class="form-control" type="number"step="1" min="0" max="23" th:field="*{deliveryHours}" placeholder="deliveryHours" id="deliveryHours">

            <label for="price">Price:</label>
            <input class="form-control" type="number"step="1" min="0" max="2147483647" th:field="*{price}" placeholder="price" id="price">

            <label for="isAvailable">Is Available:</label>
            <input class="form-control" type="checkbox" th:field="*{isAvailable}" id="isAvailable">


        </div>
        <button type="submit" class="btn btn-primary">Save Product Delivery Time</button>
    </form>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>