<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
<header th:replace="fragments :: header"></header>

<h4>Product Delivery Time list:</h4>
<td><a class="btn btn-info"
       th:href="@{/deliveryTime/create-deliveryTime}">Add</a></td>

<div class="col-12">
    <h3 th:unless="${deliveryTimes} and ${deliveryTimes.size()}">There are no Product Delivery Time!</h3>
    <table th:if="${deliveryTimes.size()>0}" class="table table-hover">
        <th>Id</th>
        <th>Product Delivery Name</th>
        <th>DeliveryDays</th>
        <th>DeliveryHours</th>
        <th>Product Price</th>
        <th>Product Is Available</th>
        <th>Edit</th>
        <th>Delete</th>
        <tr th:each="deliveryTime : ${deliveryTimes}">
            <td th:text="${deliveryTime.id}"></td>
            <td th:text="${deliveryTime.name}"></td>
            <td th:text="${deliveryTime.deliveryDays}"></td>
            <td th:text="${deliveryTime.deliveryHours}"></td>
            <td th:text="${deliveryTime.price}"></td>
            <td th:text="${deliveryTime.isAvailable}"></td>
            <td><a class="btn btn-info" th:href="@{'/deliveryTime/edit/'+${deliveryTime.id}}">Edit</a></td>
            <td><a class="btn btn-danger" th:href="@{'/deliveryTime/delete/'+${deliveryTime.id}}">Delete</a></td>
        </tr>
    </table>
</div>
</body>

<footer th:replace="fragments :: footer"></footer>
</html>